<div class="{{idPrefix}}-toolbar-wrapper">
  <div class="{{idPrefix}}-header" >
    <div class="{{idPrefix}}-header-text">
      Toolbar
    </div>
  </div>
  <div class="{{idPrefix}}-button-container">
    <div class="{{idPrefix}}-button {{idPrefix}}-save-button" >
      Save
    </div>
    <div class="{{idPrefix}}-button {{idPrefix}}-close-button" >
      Close
    </div>
    <div class="{{idPrefix}}-delete-button" >
    </div>
  </div>
  <div class="{{idPrefix}}-icon-container">
    <table class="{{idPrefix}}-main-icon-table">
      <tbody>
        <tr style="height: 71px;">
          <td>
            <div class="{{idPrefix}}-icon-wrapper">
              <div class="{{idPrefix}}-icon-image icon-title {{idPrefix}}-image">
              </div>
              <div class="{{idPrefix}}-icon-text">Title</div>
            </div>
          </td>
          <td>
            <div class="{{idPrefix}}-icon-wrapper">
              <div class="{{idPrefix}}-icon-image icon-text {{idPrefix}}-image" >
              </div>
              <div class="{{idPrefix}}-icon-text">Text</div>
            </div>
          </td>
          <td>
            <div class="{{idPrefix}}-icon-wrapper">
              <div class="{{idPrefix}}-icon-image icon-box {{idPrefix}}-image" >
              </div>
              <div class="{{idPrefix}}-icon-text">Box</div>
            </div>
          </td>
        </tr>
        <tr style="height: 71px;">
          <td>
            <div class="{{idPrefix}}-icon-wrapper">
              <div class="{{idPrefix}}-icon-image icon-img {{idPrefix}}-image" >
              </div>
              <div class="{{idPrefix}}-icon-text">Image</div>
            </div>
          </td>
          <td>
            <div class="{{idPrefix}}-icon-wrapper">
              <div class="{{idPrefix}}-icon-image icon-graphics {{idPrefix}}-image" >
              </div>
              <div class="{{idPrefix}}-icon-text">Graphics</div>
            </div>
          </td>
          <td>
            <div class="{{idPrefix}}-icon-wrapper">
              <div class="{{idPrefix}}-icon-image icon-youtube {{idPrefix}}-image" >
              </div>
              <div class="{{idPrefix}}-icon-text">Youtube</div>
            </div>
          </td>
        </tr>
        <tr style="height: 71px;">
          <td>
            <div class="{{idPrefix}}-icon-wrapper">
              <div class="{{idPrefix}}-icon-image icon-iframe {{idPrefix}}-image" >
              </div>
              <div class="{{idPrefix}}-icon-text">iFrame</div>
            </div>
          </td>
          <td>
            <div class="{{idPrefix}}-icon-wrapper">
              <div class="{{idPrefix}}-icon-image icon-map {{idPrefix}}-image" >
              </div>
              <div class="{{idPrefix}}-icon-text">Map</div>
            </div>
          </td>
          <td>
            <div class="{{idPrefix}}-icon-wrapper">
              <div class="{{idPrefix}}-icon-image icon-html {{idPrefix}}-image" >
              </div>
              <div class="{{idPrefix}}-icon-text">HTML</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="{{idPrefix}}-horizontal-line" >
    </div>
    <table style="width: 100%;">
      <tbody>
        <tr style="height: 71px;">
          <td>
            <div class="{{idPrefix}}-icon-wrapper">
              <div class="{{idPrefix}}-icon-image icon-javascript {{idPrefix}}-image" >
              </div>
              <div class="{{idPrefix}}-icon-text ">JavaScript</div>
            </div>
          </td>
          <td>
            <div class="{{idPrefix}}-icon-wrapper" >
              <div class="{{idPrefix}}-icon-image  icon-templates {{idPrefix}}-image" >
              </div>
              <div class="{{idPrefix}}-icon-text">Templates</div>
            </div>
          </td>
          <td>
            <div class="{{idPrefix}}-icon-wrapper ">
              <div class="{{idPrefix}}-icon-image icon-settings {{idPrefix}}-image" >
              </div>
              <div class="{{idPrefix}}-icon-text">Settings</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="{{idPrefix}}-footer" style="border-top: 2px solid rgb(229,230,235); padding-left: 6px; padding-top: 7px;">
    <span class="{{idPrefix}}-footer-text" style="font-weight: bold; font-size: 11px; letter-spacing: 1px;">Main Page | + Subpage</span>
  </div>
</div>